
body {
    margin: 0;
}

ul.menu {
    list-style-type: none;
    margin-left: -50px;
    padding: 0;
    overflow: hidden;
    background-color: #a3a9f5;
    position: fixed;
    top: 0;
    width: 100%;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li.menu a:hover:not(.active) {
    background-color: rgb(173, 179, 255);
}

.active {
    background-color: rgb(163, 150, 245);
}

