body {
  margin-top: -11px;
}
body {
  margin: 0;
}

ul.menu {
  list-style-type: none;
  margin: -50px;
  padding: 0;
  overflow: hidden;
  background-color: #3d44af;
  position: fixed;
  top: 0;
  width: 100%;
}

li.menu {
  float: left;
}

li.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li.menu a:hover:not(.active) {
  background-color: rgb(173, 179, 255);
}

.active {
  background-color: rgb(158, 245, 150);
}
ul.side {
  list-style-type: none;
  margin: -100px;
  margin-left: -140px;
  padding: 0;
  width: 200px;
  background-color: #f1ebf2;
  position: fixed;
  height: 90%;
  overflow: auto;
}

li a.side {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #a3a9f5;
  color: white;
}

li a.side:hover:not(.active) {
  background-color: #c4a1be;
  color: black;
}

.button {
  border: none;
  background-color: #a3a9f5;
  color: rgb(252, 252, 252);
  height: auto;
  width: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #644da2; /* Green */
  color: rgb(38, 36, 36);
}

button.active {
  background-color: #56356a; /* Green */
}

div {
  width: auto;
  padding: 20px;
  border-radius: 5px;
  align-content: center;
}

table {
  width: 1200px;
  margin-left: 230px;
  background: #ffffff;
}

label,
input[type="submit"] {
  width: 40%;
}

button[class="table"] {
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 15px;
}

th {
  background-color: rgb(183, 189, 256);
  color: white;
}

tr:hover {
  background-color: #f1f0f2;
}

button[class="table"] {
  width: 100%;
}

button :hover {
  background-color: rgb(173, 179, 255);
}

th {
  background: rgb(130, 162, 245);
  border-color: white;
}

td,
th {
  width: 4rem;
  height: 2rem;
  border: 1px solid rgb(32, 30, 30);
  text-align: start;
}
body {
  padding: 1rem;
}
