input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: whitesmoke;
}

button[class=table] {
    width: 100%;
}

input[class = search]
{
    width: 80%;
    height: 40px;
    padding: 12px 20px;
    margin-top: 8px ;
    margin-left: 230px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: whitesmoke;
}

input[type=submit] {
    width: 100%;
    background-color: #a3a9f5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:not(.close-button){
    width: 60%;
    background-color: #a3a9f5;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button :hover {
    background-color: rgb(173, 179, 255);
}

div {
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    alignment: center;
}



